.pie{
    grid-column: 1/4;
    grid-row: 4/5;
    background-color:$colorsecundario;
    height: 200px;
    .TextoPie{
        text-align-last: center;
        margin: 5px;
        padding: 10px;
        color:rgb(255, 255, 255);
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
       
    }
    h2{
        font-family: "Moon";
  }
  
}

.fa-facebook-square{
    font-size: 24px;
    margin: 3px;
}

.fa-instagram-square{
    @extend .fa-facebook-square
}

.fa-whatsapp-square{
    @extend .fa-facebook-square
}

.fa-location-dot{
   font-size: 20px;
   margin: 3px;
   text-align: center;
 
}